challenge-chatbot/flows.json
[
    {
        "id": "4ae3698af2f9d242",
        "type": "tab",
        "label": "CP2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a510b5e21ad6e8b",
        "type": "function",
        "z": "4ae3698af2f9d242",
        "name": "Processa input STT",
        "func": "msg.params = {session_id: msg.payload.chatId};\n\nmsg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 220,
        "wires": [
            [
                "339d6547f45983bc"
            ]
        ]
    },
    {
        "id": "3c9ba685f321e953",
        "type": "function",
        "z": "4ae3698af2f9d242",
        "name": "Processar input TTS",
        "func": "msg.params = {session_id: msg.payload.chatId};\n\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 460,
        "wires": [
            [
                "5507f1b38c74bfb7"
            ]
        ]
    },
    {
        "id": "b62629fd7c3f5953",
        "type": "function",
        "z": "4ae3698af2f9d242",
        "name": "Processa output TTS",
        "func": "msg.payload = {\n    chatId: msg.params.session_id,\n    type: \"voice\",\n    content: msg.payload};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2180,
        "y": 460,
        "wires": [
            [
                "20b43d59725c2e37"
            ]
        ]
    },
    {
        "id": "6472e3e7edff2b3e",
        "type": "function",
        "z": "4ae3698af2f9d242",
        "name": "Processar output STT",
        "func": "msg.payload = {\n    chatId: msg.params.session_id,\n    type: \"message\",\n    content: msg.payload};\n\nmsg.params = {};\nmsg.params.session_id = msg.payload.chatId;\nmsg.payload = msg.payload.content;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 220,
        "wires": [
            [
                "861fb11ae5546332"
            ]
        ]
    },
    {
        "id": "5507f1b38c74bfb7",
        "type": "watson-text-to-speech",
        "z": "4ae3698af2f9d242",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaVoice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "7CzjjKsRYgSVmvF80k-DY0oEvuzs9vLMWNvbNWuz3w5H",
        "payload-response": true,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/343ad29d-6ace-4b1f-a027-7f4b3ba796ce",
        "x": 1940,
        "y": 460,
        "wires": [
            [
                "b62629fd7c3f5953"
            ]
        ]
    },
    {
        "id": "339d6547f45983bc",
        "type": "watson-speech-to-text",
        "z": "4ae3698af2f9d242",
        "name": "",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "k_dxCghQGQEoK21vcdkrhedPTcAZDLCMLrLM3cgB7q5X",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/1d040e7e-586b-42d9-99b8-5139ac1fda67",
        "x": 600,
        "y": 220,
        "wires": [
            [
                "6472e3e7edff2b3e"
            ]
        ]
    },
    {
        "id": "20b43d59725c2e37",
        "type": "telegram sender",
        "z": "4ae3698af2f9d242",
        "name": "",
        "bot": "6f1ea5aaad613975",
        "haserroroutput": false,
        "outputs": 1,
        "x": 2250,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "9533601e31239619",
        "type": "switch",
        "z": "4ae3698af2f9d242",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "photo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "animation",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sticker",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "4a510b5e21ad6e8b"
            ],
            [
                "fd8213b462223fec"
            ],
            [
                "4782dfb09720e86e"
            ],
            [
                "9be158627cb80fcb"
            ],
            [
                "9be158627cb80fcb"
            ]
        ]
    },
    {
        "id": "c26e848a7ae4cbb5",
        "type": "telegram receiver",
        "z": "4ae3698af2f9d242",
        "name": "",
        "bot": "6f1ea5aaad613975",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 460,
        "wires": [
            [
                "9533601e31239619",
                "6fe745c687f10f9e"
            ],
            []
        ]
    },
    {
        "id": "fd8213b462223fec",
        "type": "function",
        "z": "4ae3698af2f9d242",
        "name": "Input WA",
        "func": "msg.params = {};\n    msg.params.session_id = msg.payload.chatId;\n    msg.payload = msg.payload.content;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 280,
        "wires": [
            [
                "71e156d1d8e289bf"
            ]
        ]
    },
    {
        "id": "a0d26fb65183248f",
        "type": "function",
        "z": "4ae3698af2f9d242",
        "name": "Output WA",
        "func": "//msg.payload = msg.payload.output.generic[0].txt;\n//msg.payload = { \n   // chatId : msg.params.session_id,\n    //content : msg.payload,\n    //type : 'voice'\n//}\nmsg.payload = msg.payload.output.generic[0].text;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 220,
        "wires": [
            [
                "58434149d20c77dd"
            ]
        ]
    },
    {
        "id": "83cd640c6214c795",
        "type": "function",
        "z": "4ae3698af2f9d242",
        "name": "Output TTS",
        "func": "msg.payload = msg.payload.output.generic[0].txt\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1310,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "861fb11ae5546332",
        "type": "watson-assistant-v2",
        "z": "4ae3698af2f9d242",
        "name": "",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/7ef392b2-493d-4576-afad-7e83c149fdbd",
        "assistant_id": "a5e8f6d3-cf50-4525-be67-7d82acac6725",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 1070,
        "y": 220,
        "wires": [
            [
                "a0d26fb65183248f"
            ]
        ]
    },
    {
        "id": "0dd50b853dcd0254",
        "type": "telegram sender",
        "z": "4ae3698af2f9d242",
        "name": "",
        "bot": "6f1ea5aaad613975",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1250,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "58434149d20c77dd",
        "type": "watson-text-to-speech",
        "z": "4ae3698af2f9d242",
        "name": "",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaVoice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "7CzjjKsRYgSVmvF80k-DY0oEvuzs9vLMWNvbNWuz3w5H",
        "payload-response": true,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/343ad29d-6ace-4b1f-a027-7f4b3ba796ce",
        "x": 1260,
        "y": 280,
        "wires": [
            [
                "b98f3436c25a4a84"
            ]
        ]
    },
    {
        "id": "6fe745c687f10f9e",
        "type": "debug",
        "z": "4ae3698af2f9d242",
        "name": "entrada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 600,
        "wires": []
    },
    {
        "id": "ebab8b0495c8966b",
        "type": "debug",
        "z": "4ae3698af2f9d242",
        "name": "saida wa",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "c85fd056a1cb7333",
        "type": "debug",
        "z": "4ae3698af2f9d242",
        "name": "entrada tts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "73c7f19815e701a9",
        "type": "debug",
        "z": "4ae3698af2f9d242",
        "name": "retorno tts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 100,
        "wires": []
    },
    {
        "id": "b98f3436c25a4a84",
        "type": "function",
        "z": "4ae3698af2f9d242",
        "name": "Processa output TTS",
        "func": "\nmsg.payload = { \n    chatId : msg.params.session_id,\n    content : msg.payload,\n    type : 'voice'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 340,
        "wires": [
            [
                "0dd50b853dcd0254"
            ]
        ]
    },
    {
        "id": "5bf04e1557c78ed0",
        "type": "function",
        "z": "4ae3698af2f9d242",
        "name": "Output WA",
        "func": "\nmsg.payload = { \n    chatId : msg.params.session_id,\n    content : msg.payload = msg.payload.output.generic[0].text,\n    type : 'message'\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 280,
        "wires": [
            [
                "0dd50b853dcd0254"
            ]
        ]
    },
    {
        "id": "4782dfb09720e86e",
        "type": "function",
        "z": "4ae3698af2f9d242",
        "name": "Input IMG",
        "func": "msg.params = {};\n    msg.params.session_id = msg.payload.chatId;\n    msg.payload = msg.payload.content;\n\n\nmsg.payload = { \n    chatId : msg.params.session_id,\n    content : msg.payload = \"Meus criadores ainda não me ensinaram a ver imagens.\",\n    type : 'message'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            [
                "0dd50b853dcd0254"
            ]
        ]
    },
    {
        "id": "9be158627cb80fcb",
        "type": "function",
        "z": "4ae3698af2f9d242",
        "name": "Input GIF/Sticker",
        "func": "msg.params = {};\n    msg.params.session_id = msg.payload.chatId;\n    msg.payload = msg.payload.content;\n\n\nmsg.payload = { \n    chatId : msg.params.session_id,\n    content : msg.payload = \"Ainda  não  aprendi  o  humor  dos humanos...\",\n    type : 'message'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 420,
        "wires": [
            [
                "0dd50b853dcd0254"
            ]
        ]
    },
    {
        "id": "71e156d1d8e289bf",
        "type": "watson-assistant-v2",
        "z": "4ae3698af2f9d242",
        "name": "",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/7ef392b2-493d-4576-afad-7e83c149fdbd",
        "assistant_id": "a5e8f6d3-cf50-4525-be67-7d82acac6725",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 610,
        "y": 280,
        "wires": [
            [
                "5bf04e1557c78ed0"
            ]
        ]
    },
    {
        "id": "6f1ea5aaad613975",
        "type": "telegram bot",
        "botname": "w_carhelp",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]